language: node_js
node_js:
  - 10
  - 12
jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      before_install:
        # Create a master branch for commitlint
        # https://github.com/conventional-changelog/commitlint/issues/6
        - git remote set-branches origin master && git fetch
      deploy:
        on:
          branch: master
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release