name: Health Check

on:
  schedule:
    # At minute 0 past hour 0800 and 2000.
    - cron:  '0 8,20 * * *'

jobs:
  tests:
    strategy:
      matrix:
        node: [ '14.x', '16.x', '18.x', '20.x', '22.x' ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    name: Node ${{ matrix.node }} - ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - run: |
        git remote set-branches --add origin main
        git fetch
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}
    - name: Install Dependencies
      run: npm ci
      env:
        NODE_ENV: development
    - name: Run Test Script
      run: npm run test
      env:
        NODE_ENV: production
